In [69]:
import numpy as np
import pandas as pd
import seaborn as sns
import os, sys
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [70]:
data=pd.read_excel('corpus_PaHaW.xlsx')
data.shape

(75, 10)

In [71]:
data.tail()

,ID,Nationality,Sex,Disease,PD status,Age,Dominant hand,LED,UPDRS V,Length of PD
70,94,Czech,M,H,NaN,64,R,NaN,NaN,NaN
71,95,Czech,M,H,NaN,74,R,NaN,NaN,NaN
72,96,Czech,F,H,NaN,77,R,NaN,NaN,NaN
73,97,Czech,M,H,NaN,44,R,NaN,NaN,NaN
74,98,Czech,F,PD,ON,77,R,1210.0,2.0,6.0

In [85]:
data=data.replace(to_replace="M",value=1)
data=data.replace(to_replace="F",value=0)
data=data.replace(to_replace="ON",value=1)

In [88]:
data.head()

,ID,Nationality,Sex,Disease,PD status,Age,Dominant hand,LED,UPDRS V,Length of PD
0,1,Czech,0,PD,1.0,68,R,1115.0,2.0,6.0
1,2,Czech,0,PD,1.0,78,R,2110.0,2.0,8.0
2,3,Czech,0,PD,1.0,69,R,1556.6,2.0,7.0
3,4,Czech,0,PD,1.0,79,R,1691.0,2.0,12.0
4,5,Czech,0,PD,1.0,69,R,600.0,2.0,2.0

In [87]:
data.dtypes

ID                 int64
Nationality       object
Sex               object
Disease           object
PD status        float64
Age                int64
Dominant hand     object
LED              float64
UPDRS V          float64
Length of PD     float64
dtype: object