In [58]:
import pandas as pd
import numpy as np
data =  pd.read_excel('PahaW.xlsx')

In [59]:
data.head()

,ID,Nationality,Sex,Disease,PD status,Age,Dominant hand,LED,UPDRS V,Length of PD
0,1,Czech,F,PD,1,68,R,1115.0,2.0,6.0
1,2,Czech,M,PD,0,78,R,2110.0,2.0,8.0
2,3,Czech,F,PD,1,69,R,1556.6,2.0,7.0
3,4,Czech,F,PD,1,79,R,1691.0,2.0,12.0
4,5,Czech,F,PD,1,69,R,600.0,2.0,2.0

In [60]:
data['Sex'] = pd.to_numeric(data['Sex'],errors='coerce').fillna(0).astype(np.int64)
data.head()

,ID,Nationality,Sex,Disease,PD status,Age,Dominant hand,LED,UPDRS V,Length of PD
0,1,Czech,0,PD,1,68,R,1115.0,2.0,6.0
1,2,Czech,0,PD,0,78,R,2110.0,2.0,8.0
2,3,Czech,0,PD,1,69,R,1556.6,2.0,7.0
3,4,Czech,0,PD,1,79,R,1691.0,2.0,12.0
4,5,Czech,0,PD,1,69,R,600.0,2.0,2.0

In [61]:
data.dtypes

ID                 int64
Nationality       object
Sex                int64
Disease           object
PD status          int64
Age                int64
Dominant hand     object
LED              float64
UPDRS V          float64
Length of PD     float64
dtype: object